@import "tailwindcss";

:root {
	--background: #ebebeb91;
	--foreground: #171717;
	--accent-color: #ed2d2f;
	--accent-color-light: rgba(237, 45, 47, 0.1);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-inter);
}
